<div class="Profile">
<h2>Profile</h2>
<br>
 NAME:
 <%= session[:user].firstname %>
 <%= session[:user].lastname %><br>
<br>
BIRTHDAY:
<%= session[:user].birthday %><br>
EMAIL:
<%= session[:user].email %><br>

<div class="message-container">
    <div class="message-box">
      <% session[:user].posts.all.reverse.first(20).each do |m|  %>
      <div class="message-title">
      <p><%= m.title %></p>
      <div class="message-content">
      <p><%= m.content %></p>
    </div>
  </div>
      <% end %>
